<div class="container">
<div class="row">
        <!--ROW 1-->    
    <div class="col-md-home-12" style="background: #fff;padding:20px;">
        <ul class="nav nav-tabs abstab">  
        <li class="active">  
        <a href="#">Absence Application</a> </li>   
        <li><a href="#/timeaccount">Time Account</a></li>  

        </ul>  
        <div class="tab-content">
            <h3>Absence Application</h3>                      
            <div class="tablenav">
                <div class="tablenav-title">Absences since</div>
                    <div class="tablenav-select"><input class="form-control input" type="date" placeholder="date" value={{startdate}} ng-model="startdate" ng-change="updateList()"></div>
                    <div class="tablenav-button">
                        <a ng-click="AddAbsence()" class="btn btn-default" role="button" style="padding:15px 12px;"><span class="glyphicon glyphicon-plus-sign modal-icon"></span> Add Absence Time</a>
                    </div>
            </div>
        	<div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="active">Type</th>
                            <th class="active">From</th>
                            <th class="active">Until</th>
                            <th class="active">Used</th>
                            <th class="active" width="60">Status</th>
                            <th class="active" width="210"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="absence in absences">        
                                <td>{{absence.infotype}}</td>
                                <td>{{absence.begda}}</td>
                                <td>{{absence.endda}}</td>
                                <td>{{absence.abrst}}</td>
                                <td>
                                    <span ng-if="absence.status=='SENT'" class="status-informed">{{absence.status_text}}</span>
                                    <span ng-if="absence.status=='CONFIRMED'" class="status-confirmed">{{absence.status_text}}</span>
                                    <span ng-if="absence.status=='DENIED'" class="status-denied">{{absence.status_text}}</span>
                                </td>
                                <td><button class="btn btn-default-mini btn-delete" ng-click="remove($index)">x</button>
                                <button  class="btn btn-default-mini btn-edit" ng-click="AddAbsence('{{absence.request_id}}')"><span class="glyphicon glyphicon-pencil modal-icon"></span>Edit</button> </td>
                            </tr>
                                                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>