<div class="container">
			<div class="row">
				<!--ROW 1-->
				<div class="col-md-4"></div>
			  	<div class="col-md-4" style="background:#fff;padding: 20px;text-align: center;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;">

							<div class="icon-box"><span class="glyphicon glyphicon-user icon-big"></span></div>
							<div class=""><input class="form-control input-lg" type="text" placeholder="Username" style="" ng-model="login"/></div>
							<div class=""><input class="form-control input-lg" type="password" placeholder="Password" style="" ng-model="password"/></div>
							<button type="button" class="btn btn-style-2" ng-click="loginfunction()">Login</button>
							<div class="errormsg">{{errors}}</div>
							<div style="clear:both;"></div>
				</div>
					<div class="col-md-4 last"></div>
				</div>
				<div style="clear:both;margin-bottom:50px;">

</div>
