<div class="container">
			<div class="row">
				<!--ROW 1-->	
				<div class="col-md-home-12" style="background: #fff;padding:20px;">
						<div class="tabbable">
						    <ul class="nav nav-tabs">
						      <li ><a href="#/inbox" data-toggle="tab">Inbox</a></li>
						      <li class="active"><a href="#/outbox" data-toggle="tab">Outbox</a></li>
						    </ul>
						    <h3>Outbox</h3>
										
											<div class="tablenav">
												<div class="tablenav-title"></div>
												<div class="tablenav-select"><input class="form-control input" type="date" placeholder="date"></div>
												<div class="tablenav-button">
													<a href="1.2-mailbox.html" class="btn btn-default" role="button" style="padding:15px 12px;"><span class="glyphicon glyphicon-envelope modal-icon"></span> Send Email</a>
												</div>
											</div>
									
											<div class="table-responsive">
												<table class="table">
													<thead>
															<tr>
																<th class="active">Date</th>
													  		<th class="active">To</th>
													  		<th class="active">Subject</th>
																<th class="active" width="160"></th>
													    </tr>
													</thead>
													<tbody>
													   <tr>
																<td>19.11.2013</td>
													      <td>Herr Muster Mann</td>
													      <td>Li Europan lingues es membres del</td>
																<td>
																	<button type="button" class="btn btn-default-mini btn-edit" onclick="window.location='#/openmail';"><span class="glyphicon glyphicon-file modal-icon"></span> Opening</button>
																</td>
															</tr>
														
	 												   <tr>
	 															<td>19.11.2013</td>
	 												      <td>Herr Muster Mann</td>
	 												      <td>Li Europan lingues es membres del</td>
	 															<td>
	 																<button type="button" class="btn btn-default-mini btn-edit" onclick="window.location='#/openmail';"><span class="glyphicon glyphicon-file modal-icon"></span> Opening</button>
	 															</td>
	 														</tr>
														
	 												   <tr>
	 															<td>19.11.2013</td>
	 												      <td>Herr Muster Mann</td>
	 												      <td>Li Europan lingues es membres del</td>
	 															<td>
	 																<button type="button" class="btn btn-default-mini btn-edit" onclick="window.location='#/openmail';"><span class="glyphicon glyphicon-file modal-icon"></span> Opening</button>
	 															</td>
	 														</tr>
													 </tbody>
											  </table>
											</div>
								</div>
							</div>
							
					</div>
				
				</div>
				
				<div style="clear:both;margin-bottom:50px;">