<div class="container">



<div class="row">
<!--ROW 1-->
	<div class="col-md-home-4">
		<a href="" class="big-button" data-toggle="modal" data-target="#mailbox" >
			<div class="icon-box"><span class="glyphicon glyphicon-envelope icon-big"></span></div>Mailbox
		</a>
	</div>

	<div class="col-md-home-4">
		<a href="" class="big-button" data-toggle="modal" data-target="#application" >
			<div class="icon-box"><span class="glyphicon glyphicon-flag icon-big"></span></div>Application
		</a>
	</div>

	<div class="col-md-home-4 last">
		<a href="" class="big-button" data-toggle="modal" data-target="#timerecord" >
			<div class="icon-box"><span class="glyphicon glyphicon-time icon-big"></span></div>Time Record
		</a>
	</div>

<!--ROW 2-->
	<div class="col-md-home-4">
		<a href="#/certification" class="big-button">
			<div class="icon-box"><span class="glyphicon glyphicon-list-alt icon-big"></span></div>Certification
		</a>
	</div>

  <div class="col-md-home-4">
		<a href="#/payment" class="big-button">
			<div class="icon-box"><span class="glyphicon glyphicon-euro icon-big"></span></div>Payment
		</a>
	</div>

	<div class="col-md-home-4 last">
		<a href="" class="big-button" data-toggle="modal" data-target="#account" >
			<div class="icon-box"><span class="glyphicon glyphicon-user icon-big"></span></div>Account
		</a>
	</div>

<!--ROW 3-->
	<div class="col-md-home-8">
		<a href="#/search" class="big-button">
			<div class="icon-box-search"><div class="icon-box"><span class="glyphicon glyphicon-search icon-big"></span></div>Search</div>
			<div class="icon-box-search-form"><input class="form-control input-lg search-input" type="text" placeholder="Surname, Name or Personal-Nr."/></div>
			<div class="icon-box-search-txt"> Employee Search</div>
		</a>
	</div>

  <div class="col-md-home-4 last">
		<a href="#/services" class="big-button">
			<div class="icon-box"><span class="glyphicon glyphicon-info-sign icon-big"></span></div>Service
		</a>
	</div>
</div>
<div style="clear:both;margin-bottom:50px;">
<!-- /container -->

</div>
