<!-- container -->
<div class="container">
<div class="row">
<!--ROW 1-->	
<div class="col-md-home-12" style="background: #fff;padding:20px;">
	
	<h3 style="margin-bottom:40px;">Mailbox</h3>
	
	<form role="form">
	  <div class="form-group">
	    <label for="label-to"><b>From</b></label> 
				<div class="mailbox-text width80">Herrr Muster Mann</div>
				<div style="clear:both;"></div>
	  </div>
	 	
		<div class="form-group">
	    <label for="label-from"><b>Subject</b></label>
				<div class="mailbox-text width80">Li Europan lingues es membres del</div>
				<div style="clear:both;"></div>
	  </div>
		
		<div class="form-group">
	    <label for="label-until"><b>Message</b></label>
			<div class="mailbox-message width80">
				Dear Mr. Demir
				<br/><br/>or scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. 
				<br/><br/>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.
			</div>
			<div style="clear:both;"></div>
	  </div>
		
		<div class="form-group" style="margin-top:50px;">
	    <label for="label-until"></label>
				<a href="1.1-mailbox.html#inbox" class="btn btn-style-2 width80">Back</a>
		</div>
	 
	</form>
 </div>
<div style="clear:both;margin-bottom:50px;">
<!-- /container -->