<div class="container">
<div class="row">
	<!--ROW 1-->	
		<div class="col-md-home-12" style="background: #fff;padding:20px;">
			<h3>Employee Search</h3>
										
				<div class="tablenav" style="height:80px;">
					<div class="tablenav-select" style="width:250px;"><input class="form-control input" type="text" placeholder="Surname, Name or Personal-Nr." style="height:60px;"> </div>
				</div>
			
				<div class="table-responsive">
					<table class="table">
						<thead>
								<tr>
									<th class="active">Name</th>
						  		<th class="active">Company</th>
						  		<th class="active">Phone</th>
						  		<th class="active">Fax</th>
									<th class="active">E-Mail</th>
						    </tr>
						</thead>
						<tbody>
						   <tr>
									<td>Herbert Müller</td>
						      <td>FLP</td>
						      <td>0231 226186 0</td>
						      <td>0231 22618648</td>
									<td>herbert@gmail.com</td>
						    </tr>
								
						   <tr>
									<td>Lars Holten</td>
						      <td>IDEA AG</td>
						      <td>02302 15485</td>
						      <td>0231 22618648</td>
									<td>lars.holten@gmx.de</td>
						    </tr>
								
						   <tr>
									<td>Stefanie Schmidt</td>
						      <td>FLP</td>
						      <td>02333 95485</td>
						      <td>0231 22618648</td>
									<td>stefanie@web.de</td>
						    </tr>	
						</tbody>
				  </table>
				</div>	
				</div>
<div style="clear:both;margin-bottom:50px;">
<!-- /container -->