<div class="container">
	<div class="row">
		<!--ROW 1-->	
		<div class="col-md-home-12" style="background: #fff;padding:20px;">
			<h3 style="margin-bottom:40px;">Send Email</h3>
			
			<form role="form">
			  <div class="form-group">
			    <label for="label-to">To</label> 
						<select id="label-to" class="form-control input-lg width80">
							<option>Herrr Muster Mann</option>
						</select>
			  </div>
			 	
				<div class="form-group">
			    <label for="label-from">Subject</label>
					<input class="form-control input-lg width80" type="text" placeholder="...">
			  </div>
				
				<div class="form-group">
			    <label for="label-until">Message</label>
					<textarea class="form-control input-lg width80" rows="3" placeholder="Enter Text"></textarea>
			  </div>
				
				<div class="form-group">
			    <label for="label-until"></label>
						<button type="submit" class="btn btn-style-2 width80">Send</button>
				</div>
		</form>
</div>
<div style="clear:both;margin-bottom:50px;">
<!-- /container -->
	